
    <div class="contact__wrapper">
        <div class="left">
            <h1>Contact Me</h1>
            <p>Feel free to reach out to me any time via the form
                 below if you have any request or question. I will
                  reply to you asap. 
            </p>
            <form name="emailForm" id = "emailForm">
                <div class="row">
                    <label>
                        <input type="text"  
                               name = "name" 
                               id = "name"
                               placeholder="Name" 
                               required>
                    </label>
      
                    <label>
                        <input  type="email" 
                                name = "email" 
                                id = "email" 
                                placeholder="Email" 
                                required>
                    </label>
                </div>

                <label>
                    <input  type="text"  
                            name = "subject" 
                            id = "subject"
                            placeholder="Subject" 
                            >
                </label>
                
                <div class="textarea__container">
                    <textarea  name="message" 
                               id = "message" 
                               placeholder="Message"  
                               required></textarea>
                </div>


                <!-- <button type="submit" class="cta submit">SEND</button> -->
                    <button class="btn submit" id="email_submit" type="">SEND</button>
            </form>
            <img src="../assest/icon/startup.png" alt="rocket" id="rocket">
        </div>
        <div class="right">
            <div class="tweets">
                <h2>Latest Tweets</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <div id="map">

            </div>
        </div>
    </div>
    <div class="pop__box__container" id ="pop__box__container">
    </div>
