<section class="wrapper sec-1 flex">
    <!-- <div class="person">
        <img src="./assest/images/person.png" alt="">
    </div> -->

    <div class="hero">
        <!-- <div class="water-mark">
            <img src="../assest/images/front-end-small.png" alt="">
        </div> -->
        
        <div class="hero-container">
            <div class = "gary">
                <img src="../assest/images/gary.jpg" alt="">
                <p>Hi,</p>
            </div>
            <p class="self-intro title"> I'm Gary,<br>
                <span class="txt-type" data-wait="2000" data-words='["Web Developer.", "Front-End.","IT Graduate."]'></span>
                <span class="typing-cursor">|</span>
                <br>
                <!-- <span class = "self-intro info">Front End Developer / Graduate IT Master </span> -->
            </p>
            <p class = "self-intro info">Self-Motivated / Team player / Can do attitude </p>
        </div>
        <!-- <p class="self-intro content">
            I am always on my way learning new skills and overcoming challenges.
        </p> -->
        <!-- <div class="water-mark">
            <h1>侬好</h1>
        </div> -->
    </div>

    <div class="img-wrapper" id = "img-wrapper">
        <h1>🚧 under construction 🚧</h1>
    </div>

    <div class="case-study-wrapper" id="case-study-wrapper">
        <div class="case-study-container">
            <div class="frame">
                <span class="rect rect1"></span>
                <span class="rect rect2"></span>
                <span class="rect rect3"></span>
                <span class="rect rect4"></span>
                <span class="rect rect5"></span>
            </div>
            <div class="descriptions">
                    <h3 class="title">Landing Page</h3>
                    <p class="content">-UI/UX Design</p>
            </div>
            <div class="photo-container">
                <img src="../assest/images/Robbos Meat.png" alt="">           
            </div>
            <div class="year-animation-container">
                <p class="year-animation year">2020</p>
                <p class="year-animation month">Sep</p>
                <svg id="svg1" width="196" height="56" viewBox="0 0 196 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0)">
                    <line id="line1" x1="-3" y1="37.5" x2="120" y2="37.5" stroke="black" stroke-linejoin="round"/>
                    <path id="ploygon1"d="M112.5 50L105.139 38H119.861L112.5 50Z" fill="#F77777"/>
                    </g>
                    <defs>
                    <clipPath id="clip0">
                    <rect width="196" height="56" fill="white"/>
                    </clipPath>
                    </defs>
                </svg>
            </div>
            <div class="tools-wrapper">
                <h3>TOOLS</h3>
                <div class="icon-list">
                    <i class="fab fa-js icon"></i>
                    <i class="fab fa-html5 icon" ></i>
                    <i class="fab fa-sass icon"></i>
                    <i class="fab fa-figma icon"></i>
                    <i class="fab fa-php icon"></i>
                    <i class="fab fa-npm icon"></i>
                </div>
            </div>
        </div>
    </div>
    <!-- <button class="btn btn-scroll-down"><div class="dot"></div></button> -->
</section>
