<div class="loader" id="loader">
    <div class="circle">
        <h1>HI</h1>
    </div>
    <div class="wave-text" id="loader-text">
        <span style="--i:1;">W</span>
        <span style="--i:2;">A</span>
        <span style="--i:3;">I</span>
        <span style="--i:4;">T</span>
        &nbsp;
        <span style="--i:5;">A</span>
        &nbsp;
        <span style="--i:6;">B</span>
        <span style="--i:7;">I</span>
        <span style="--i:8;">T</span>
        <span style="--i:9;">.</span>
        <span style="--i:10;">.</span>
        <span style="--i:11;">.</span>     
    </div>
</div>